import(methods)
import(IRanges)

export(applyFilters, getGlobalOverview, TNplot, getHypomethylatedOverview, getHypermethylatedOverview, selectFeatures, clusterData, clusterConsensus, inferSampleType)
